In [1]:
import requests
import pprint

In [2]:
#1 The first step is to look for relevant table. In this case it is actually faster to paste the URL to chrome and do search function.
#URL is 'https://www150.statcan.gc.ca/t1/wds/rest/getAllCubesListLite'

#2. We found that the table we want is "Average satisfaction with life and with selected domains of life by age group and sex"
#3. What's important is the productId, which is be used for downloading the CSV.
#4. Product id is 13100106
#5. The next thing to do is to call the download method.
#https://www150.statcan.gc.ca/t1/wds/rest/getFullTableDownloadCSV/{product_id}/en

In [1]:
#Apply the GetFullTable Method

In [2]:
#get download path

In [3]:
#Capture the file name with regex
import re

In [4]:
# Create request to download...

In [80]:
#because the data is in zip format, use python to unzip it

   # Extract all the contents of zip file in current directory

In [1]:
# clean the data, get the columns we want
import pandas as pd
df_rawstatcan = pd.read_csv("../../01 Resources/Data/raw_statcan.csv")

df_rawstatcan.head()

,ethnicity,topic,characteristics,AB,BC,MB,SK,NL,NS,NB,...,NL_Female,NS_Female,NB_Female,PE_Female,NU_Female,QC_Female,ON_Female,YU_Female,NW_Female,National_Female
0,Aboriginal,Ethnic origin population,North American Aboriginal origins,303815,302810,225230,177355,58550,74040,46585,...,30385,39115,23955,2640,15075,186985,271135,4325,10530,1103840
1,White,Ethnic origin population,Other North American origins,955040,922690,247670,230620,280640,410825,428865,...,143610,212855,219250,32130,860,2459605,1635340,4565,4020,5882835
2,White,Ethnic origin population,European origins,2580720,2857080,826210,759080,274460,621525,424850,...,140390,321760,218135,50920,3975,1526825,4172570,12465,8780,9995605
3,Black,Ethnic origin population,Caribbean origins,36120,25010,10805,3810,885,5220,2275,...,430,2640,1230,180,45,107690,248940,95,110,399345
4,Other Minority,Ethnic origin population,Latin; Central and South American origins,78405,69920,23115,6695,925,3055,2135,...,520,1525,1025,205,35,86065,169165,105,110,349430

In [2]:
#df.to_csv('Output/statcan_csv.csv')

In [3]:
#create database connection and load database
from sqlalchemy import create_engine
connection_string = "postgres:123@localhost:5432/Project2"
engine = create_engine(f'postgresql://{connection_string}')

In [4]:
engine.table_names()

['raw_incarceration', 'table1', 'table2', 'table3', 'raw_statcan']

In [5]:
df_rawstatcan.to_sql(name='raw_statcan', con=engine, if_exists='append', index=True)

In [6]:
df_rawincarceration = pd.read_csv("../../01 Resources/Data/raw_incarceration.csv")

df_rawincarceration.head()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,incustody_community2,province2,ethnicity,year,number,race,race_group,racial_profile,gender,age,incustody_community,supervision_type,sentence_type,aggregate_sentence_length,province,marital_status,religion
0,Community,NS,Black,2012,A1,BLACK,Non Aboriginal,Black,MALE,28,Community,FP,DETERMINATE,1096,NOVA SCOTIA,NaN,BAPTIST
1,Community,PE,White,2012,A2,WHITE,Non Aboriginal,White,MALE,39,Community,FP,DETERMINATE,912,PRINCE EDWARD I,NaN,CATHOLIC - ROMA
2,Community,NB,White,2012,A3,WHITE,Non Aboriginal,White,MALE,35,Community,SR,DETERMINATE,2329,NEW BRUNSWICK,NaN,CATHOLIC - ROMA
3,Community,ON,White,2012,A4,WHITE,Non Aboriginal,White,MALE,41,Community,SR,DETERMINATE,1278,ONTARIO,NaN,NONE
4,Community,BC,White,2012,A5,WHITE,Non Aboriginal,White,MALE,36,Community,SR,DETERMINATE,2192,BRITISH COLUMBI,NaN,OTHER

In [7]:
df_rawincarceration.to_sql(name='raw_incarceration', con=engine, if_exists='append', index=True)

In [8]:
df_table1 = pd.read_csv("../../01 Resources/Data/table1.csv")

df_table1.head()

,year,PRUID,province,race,sex,province_sex,population,arrested,race_percent_population,race_percent_arrested,race_disparity_index
0,2016,99,National,Black,Female,National-Female,"927,465",72,0.04,0.06,0.417640
1,2016,59,BC,Black,Female,BC-Female,"42,005",0,0.01,0.00,-1.000000
2,2016,48,AB,Black,Female,AB-Female,"83,955",1,0.03,0.00,-0.883769
3,2016,47,SK,Black,Female,SK-Female,"9,495",2,0.01,0.02,0.698360
4,2016,46,MB,Black,Female,MB-Female,"19,335",0,0.02,0.00,-1.000000

In [9]:
df_table1.to_sql(name='table1', con=engine, if_exists='append', index=True)

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "table1_pkey"
DETAIL:  Key (index)=(0) already exists.

[SQL: INSERT INTO table1 (index, year, "PRUID", province, race, sex, province_sex, population, arrested, race_percent_population, race_percent_arrested, race_disparity_index) VALUES (%(index)s, %(year)s, %(PRUID)s, %(province)s, %(race)s, %(sex)s, %(province_sex)s, %(population)s, %(arrested)s, %(race_percent_population)s, %(race_percent_arrested)s, %(race_disparity_index)s)]
[parameters: ({'index': 0, 'year': 2016, 'PRUID': 99, 'province': 'National', 'race': 'Black', 'sex': 'Female', 'province_sex': 'National-Female', 'population': '927,465', 'arrested': '72', 'race_percent_population': 0.04, 'race_percent_arrested': 0.06, 'race_disparity_index': 0.417639889}, {'index': 1, 'year': 2016, 'PRUID': 59, 'province': 'BC', 'race': 'Black', 'sex': 'Female', 'province_sex': 'BC-Female', 'population': '42,005', 'arrested': '0', 'race_percent_population': 0.01, 'race_percent_arrested': 0.0, 'race_disparity_index': -1.0}, {'index': 2, 'year': 2016, 'PRUID': 48, 'province': 'AB', 'race': 'Black', 'sex': 'Female', 'province_sex': 'AB-Female', 'population': '83,955', 'arrested': '1', 'race_percent_population': 0.03, 'race_percent_arrested': 0.0, 'race_disparity_index': -0.8837694890000001}, {'index': 3, 'year': 2016, 'PRUID': 47, 'province': 'SK', 'race': 'Black', 'sex': 'Female', 'province_sex': 'SK-Female', 'population': '9,495', 'arrested': '2', 'race_percent_population': 0.01, 'race_percent_arrested': 0.02, 'race_disparity_index': 0.69835976}, {'index': 4, 'year': 2016, 'PRUID': 46, 'province': 'MB', 'race': 'Black', 'sex': 'Female', 'province_sex': 'MB-Female', 'population': '19,335', 'arrested': '0', 'race_percent_population': 0.02, 'race_percent_arrested': 0.0, 'race_disparity_index': -1.0}, {'index': 5, 'year': 2016, 'PRUID': 35, 'province': 'ON', 'race': 'Black', 'sex': 'Female', 'province_sex': 'ON-Female', 'population': '459,775', 'arrested': '57', 'race_percent_population': 0.06, 'race_percent_arrested': 0.17, 'race_disparity_index': 2.094457581}, {'index': 6, 'year': 2016, 'PRUID': 24, 'province': 'QC', 'race': 'Black', 'sex': 'Female', 'province_sex': 'QC-Female', 'population': '293,445', 'arrested': '6', 'race_percent_population': 0.06, 'race_percent_arrested': 0.03, 'race_disparity_index': -0.49740199}, {'index': 7, 'year': 2016, 'PRUID': 13, 'province': 'NB', 'race': 'Black', 'sex': 'Female', 'province_sex': 'NB-Female', 'population': '4,400', 'arrested': '0', 'race_percent_population': 0.01, 'race_percent_arrested': 0.0, 'race_disparity_index': -1.0}  ... displaying 10 of 168 total bound parameter sets ...  {'index': 166, 'year': 2016, 'PRUID': 60, 'province': 'YU', 'race': 'Other Minority', 'sex': 'Both', 'province_sex': 'YU', 'population': '3240', 'arrested': '0', 'race_percent_population': 0.07, 'race_percent_arrested': 0.0, 'race_disparity_index': -1.0}, {'index': 167, 'year': 2016, 'PRUID': 62, 'province': 'NU', 'race': 'Other Minority', 'sex': 'Both', 'province_sex': 'NU', 'population': '695', 'arrested': '0', 'race_percent_population': 0.02, 'race_percent_arrested': 0.0, 'race_disparity_index': -1.0})]
(Background on this error at: http://sqlalche.me/e/gkpj)

In [ ]:
df_table2 = pd.read_csv("../../01 Resources/Data/table2.csv")

df_table2.head()

In [33]:
df_table2.to_sql(name='table2', con=engine, if_exists='append', index=True)

In [35]:
df_table3 = pd.read_csv("../../01 Resources/Data/table3.csv")

df_table3.head()

,year,PRUID,province,aboriginal_disparity_index,black_disparity_index,other_disparity_index,white_disparity_index
0,2016,59,BC,4.017075,1.376684,-0.508596,-0.161238
1,2016,24,QC,1.890492,-0.034500,-0.258146,-0.059577
2,2016,62,NU,0.397107,-1.000000,-1.000000,-1.000000
3,2016,11,PE,-1.000000,-1.000000,-1.000000,0.082519
4,2016,47,SK,3.428393,0.172063,-0.151802,-0.601394

In [36]:
df_table3.to_sql(name='table3', con=engine, if_exists='append', index=True)